{% extends 'hospital/homebase.html' %}
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Пациент</h1>
  <p class="lead">Добро пожаловать</p>
  <hr class="my-4">
  <p>Различные функции доступны после входа/регистрации.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/patientsignup" role="button">Зарегистрироваться</a>
    <a class="btn btn-primary btn-lg" href="/patientlogin" role="button">Войти</a>
  </p>
</div>

{% endblock content %}
